

<style type="text/css">
    .autoLeft {
                   color:#141414;
                   padding-top:22px; 
                   text-align:right;
             }
    .autoRight {             
                 padding-top:22px; 
                 padding-left:10px;  
                }
</style>

<div id="overlay">
    <div id="popup">
        <a href="#"><img src="~/Content/Images/exit.png" style="margin-top:-13px;margin-left:533px"/></a>
            <table style="background-image:url('/Content/Images/bg_ThongBaoFull.png');margin:-15px 5px 5px 5px;border-radius:10px;">
                <tr>
                    <td colspan="2">
                         <div style="color:#666;line-height:22px; font-size:14px;">
                            <br />
                            Bạn quên mật khẩu đăng nhập? Xin hãy nhập địa chỉ Email đăng ký thành viên ở đây.Chúng tôi sẽ gửi tới Email của bạn 1 mật khẩu mới!                                                     
                         </div>         
                    </td>
                </tr>
                <tr>
                    <td class="autoLeft">Địa chỉ Email:</td>
                    <td class="autoRight"><input ID="txtEmail" class="textCtrl" type="text" /></td>                   
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center"> <input ID="btnGuiYeuCau" type="button" value="Gửi yêu cầu" style="padding:5px 10px;font-size:13px" class="btn_Ne"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td >&nbsp;</td>
                </tr>
            </table>  
    </div>
</div>

