@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    a {
        color: #333;
    }
</style>

@*Cấu hình*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/ico_st.png" />
    <span>Cấu hình</span>
</div>

<div class="Danhsach_menu" style="padding-left: 35px">
    <a href="/Admin/Menu" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_menu.png" />
        </div>
        <div class="Ten_menu">
            Quản lý menu
        </div>
    </a>

    <a href="/Admin/Slider" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_slider.png" />
        </div>
        <div class="Ten_menu">
            Quản Slider
        </div>
    </a>
</div>

@*Ứng dụng tích hợp*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/iconapps.png" />
    <span>Ứng dụng tích hợp</span>
</div>

<div class="Danhsach_menu" style="padding-left: 35px">
    <a href="/Admin/Producer" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_hangsx.png" />
        </div>
        <div class="Ten_menu">
            Nhà sản xuất
        </div>
    </a>

    <a href="/Admin/Product" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_SanPham.png" />
        </div>
        <div class="Ten_menu">
            Sản phẩm
        </div>
    </a>

    <a href="/Admin/Member" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_KhachHang.png" />
        </div>
        <div class="Ten_menu">
            Khác hàng
        </div>
    </a>

    <a href="/Admin/Order" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_DonHang.png" />
        </div>
        <div class="Ten_menu">
            Đơn Hàng
        </div>
    </a>

    <a href="/Admin/News" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_TinTuc.png" />
        </div>
        <div class="Ten_menu">
            Tin tức
        </div>
    </a>

    <a href="/Admin/Advertisement" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_QuangCao.png" />
        </div>
        <div class="Ten_menu">
            Quảng cáo
        </div>
    </a>

    <a href="/Admin/Contact" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_LienHe.png" />
        </div>
        <div class="Ten_menu">
            Liên hệ
        </div>
    </a>

    <a href="/Admin/About" style="float: left;">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_GioiThieu.png" />
        </div>
        <div class="Ten_menu">
            Giới thiệu
        </div>
    </a>

</div>

@*Quản trị*@
<div class="title_ne">
    <img src="~/Content/Admin/Images/ico_PhanQuyen.png" />
    <span>Quản trị</span>
</div>

<div class="Danhsach_menu" style="padding-left: 35px">
    <a href="/Admin/ListAdmin" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_DSAdmin.png" />
        </div>
        <div class="Ten_menu">
            Danh sách Admin
        </div>
    </a>

    <a href="/Admin/SiteMap" style="float: left">
        <div class="img_Menu">
            <img src="~/Content/Admin/Images/ico_sitemapmn.png" />
        </div>
        <div class="Ten_menu">
            Site map
        </div>
    </a>
</div>
