
<div style="width:1000px;margin:0 auto;">
    <div class="foot-Tren clearfix">
        <div style="width:335px;float:left;">
            <p class="tieude_to">
                HỆ THỐNG THANH TOÁN
            </p>      
            <div class="ND_HTTT_ne">
                <span class="tieude">
                    CHUYỂN KHOẢN NGÂN HÀNG
                </span><br />
                Thanh toán giao dịch chuyển khoản qua tất cả các hệ thống của ngân hàng Việt Nam 
            </div>
        </div>

        <div style="width:335px;float:left;padding-left:60px;">
            <p class="tieude_to">
                HÌNH THỨC NHẬN HÀNG
            </p>     
            <div class="ND_HTNN_ne">
                <span class="tieude">
                    Nhận tiền tận nơi
                </span><br />
                Thanh toán giao dịch trực tiếp tại công ty quản lý của hệ thống Gara
            </div>
        </div>    

         <div style="width:230px;float:left;padding-left:40px;">
            <p class="tieude_to">
                HOTLINE
            </p>      
            <div class="HotLine_ne">
                01659 - 020 - 020
            </div>
             <div class="MXH_ne clearfix">
                <a class="fr" target="_blank" title="In" rol="In" rel="nofollow" href="https://www.facebook.com/pages/D%C5%A9ng-mobile/542023915896215"></a>
                <a class="fr" target="_blank" title="Rss" rol="Rss" rel="nofollow" href="https://plus.google.com/u/0/107099295754877949589/posts"></a>
                <a class="fr" target="_blank" title="Facebook" rol="Facebook" rel="nofollow" href="https://www.facebook.com/DaoAnhDung.IT"></a>
                <a class="fr" target="_blank" title="Twitter" rol="Twitter" rel="nofollow" href="https://twitter.com/"></a>
             </div>
        </div>   
    </div>

    <div class="foot-Duoi clearfix">
        
        <div class="banquyen_ne fl">
            Copyright © 2017 Gara. All Rights Reserved<br />
            ĐC: 41 Hoàng Thiều Hoa, P.Hiệp Tân, Q.Tân Phú, TP.Hồ Chí Minh<br />
            Tel : (84 8)38605003 - (84 8)38605004 ● Fax:(84 8)39733537 ● Website: www.gara.com
        </div>
        <div class="fl" style="margin-top:-5px">
            <img src="/Content/Images/ThanhToan_Footer.png"/>
        </div>
    </div>   
</div>

 <!--Thống kê số lượt truy cập website-->
    <div style="text-align:center;margin-top:-22px;">
        <!-- Histats.com  START  (standard)-->
            <script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
            <a href="http://www.histats.com" target="_blank" title="counter code" ><script  type="text/javascript" >
                                                                                       try {
                                                                                           Histats.start(1, 2629816, 4, 236, 241, 20, "00010001");
                                                                                           Histats.track_hits();
                                                                                       } catch (err) { };
            </script></a>
            <noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2629816&101" alt="counter code" border="0"></a></noscript>
        <!-- Histats.com  END  -->
    </div>



