
<div class="Nd_right">
    <div class="Nd_right_top">
        <div class="Nd_right_bottom">
            <h2>HỖ TRỢ ONLINE</h2>
            <div style="text-align:center"> 
                 <div style="color:#999; font-style: italic; font-size:12px;">Gara</div>       
                <a href="ymsgr:sendim?boy_motphongcach_audition_bmt&amp;m=Chào Admin! Tôi muốn hỏi về vấn đề:... "><img border=0 src="http://opi.yahoo.com/online?u=boy_motphongcach_audition_bmt&m=g&t=14" title="Nhấp vào đây để được hỗ trợ"" /></a>      
                <ul><li>&nbsp;</li></ul><br />
                <img src="/Content/Images/hotline.png"/>
            </div>
        </div>
    </div>
</div>
